html,
body {
	font-family: 'antoniobold', Helvetica, Arial, Sans-serif;
	font-size: $font-size-default;
	line-height: 1.2em;
	-moz-osx-font-smoothing: grayscale;
	color: $text-default;
}

h1 {
  font-size: 2.1em;
	text-align: center;
	line-height: 1em;
  margin-bottom: .5em;
}

h2 {
  font-size: 1em;
	text-align: center;
	line-height: 1.4em;
  margin-bottom: .5em;
}

p {
  font-size: $font-size-default / 1.2;
  text-align: center;
}

.github-icon {
  @extend %icon-link;
  &::after{
    background: url(../images/github-icon.svg);
  }
}
.facebook-icon {
  @extend %icon-link;
  &::after{
    background: url(../images/facebook-icon.svg);
  }
}
.twitter-icon {
  @extend %icon-link;
  &::after{
    background: url(../images/twitter-icon.svg);
  }
}
