// Color Pallete
$text-default: rgb(255,255,255);
$black: rgb(62,50,3);
$grey: rgb(249,249,249);
$background-color: rgb(0,96,184);
$background-footer-color: rgb(200,152,88);
$buttom-color: rgb(248,216,112);
$button-text-color: rgb(136,88,24);
// $light-grey: rgb(245,245,245);
// $text-grey: rgb(77,77,77);
// $yellow: rgb(253,206,11);
// $text-yellow: rgb(227,185,10);
// $brown: rgb(125,102,5);
// $text-brown: rgb(125,109,43);
$opacity-black: rgba(0,0,0,.75);

// Fonts Sizes
$font-size-default: 24px;

// Spaces
$vertical-space: 35px;
$vertical-space-top: ($vertical-space / $font-size-default) * 1em;

// Miscelaneous
$border-radius: 5px;
