// Color Pallete
$text-default: rgb(255,255,255);
$black: rgb(62,50,3);
$grey: rgb(249,249,249);
$background-color: rgb(0,96,184);
$background-footer-color: rgb(200,152,88);
$buttom-color: rgb(248,216,112);
$button-text-color: rgb(136,88,24);

// Fonts Sizes
$font-size-default: 24px;

// Spaces
$vertical-space-p: 12px;
$vertical-space-base: 24px;
$vertical-space-g: 48px;

$vertical-space: 35px;
$vertical-space-top: ($vertical-space / $font-size-default) * 1em;

// Miscelaneous
$border-radius: 5px;
