@import '_antonio-webfont.scss';
@import '_variables.scss';
@import '_placeholders.scss';
@import '_text.scss';
@import '_svg-elements.scss';

body{
  background: url(../images/clouds.svg) $background-color top no-repeat ;
}
.container {
 width: 90%;
 margin: 0 auto;
}

header {
  height: 127px;
  .logo {
  	display: block;
  	margin: 0 auto;
  	padding: $vertical-space-p;
  }
}
nav {
  text-align: center;
  li {
    position: relative;
    display: inline-block;
    margin: 0 .6em;
  }
  a{
    font-size: .75em;
    font-family: 'antoniolight';
    text-transform: lowercase;
    color: $text-default;
    float: left;
  }
}

section {
	display: block;
	padding-top: $vertical-space-top;
	background-image: url(../images/landscape.svg);
  background-position: bottom;
  background-color: transparent;
  background-repeat: no-repeat;
	h1{
		text-shadow: 0px 0px 3px $background-color;
	}
	p {
		font-family: 'antoniolight';
	}

}
form {
  width: 100%;
	margin: 1em auto;
}

label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

input {
  width: 100%;
	padding: 0.75em; //18px
	font-size: 1em;
	border-radius: $border-radius;
	margin-bottom: 0.58333em; // 14px

	&[type="email"]{
		font-family: 'antoniolight';
		text-transform: uppercase;
		background: transparentize($text-default, 0.4);
		color: $text-default;
		border: 1px solid $text-default;
	}

	&[type="submit"]{
		text-align: center;
		text-transform: uppercase;
		background: transparentize($buttom-color, 0.1);
		color: $button-text-color;
		border: 1px solid $button-text-color;
    cursor: pointer;
    -webkit-appearance: none;
    &:hover {
      background: $buttom-color;
    }
	}
}

::-webkit-input-placeholder {
   color: $text-default;
}
::-moz-placeholder {  /* Firefox 19+ */
   color: $text-default;
}
:-ms-input-placeholder {
   color: $text-default;
}

.elements-container {
  position: relative;
  margin: 0 auto;
  height: 177px;
  height: 10em;
}

#blocks{
  position: absolute;
  right: 0;
}

#tube{
 position: absolute;
 bottom: 0;
}

footer {
  padding: $vertical-space-top 0;
	height: 150px;
	background: url(../images/footer.svg) repeat-x top $background-footer-color;
  img{
    width: 50%;
  }
}

@media (min-width: 320px) and (max-width: 768px){}

@media(min-width: 768px) {
  nav {
    text-align: right;
  }
  footer {
    img {
      width: 20%;
    }
  }
}

@media (min-width: 1024px) {
  .container {
    width: 85%;
  }

  h1 {
    font-size: 5em;
    margin-bottom: 0;
  }
  h2 {
    font-size: 1.75em;
  }
  p {
    width: 60%;
    margin: 0 auto;
    font-size: $font-size-default;
  }

  form {
    width: 60%;
  }

  .elements-container {
    width: 60%;
  }

}

@media(min-width: 1200px) {
  form,
  elements-container {
    width: 40%;
  }
  footer {
    img {
      width: 18%;
    }
  }
}

@media (min-width: 1400px) {
  .container {
     width: 1120px;
  }
}

@media (min-width: 1600px){}
